.div{
	display: block;
	unicode-bidi: isolate;
}
.header-container{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
	
	background-color: black;
	padding: 0.5em;
}
.header-container header{
	text-shadow:cadetblue 1px 1px;
	color: white;
}
.header-description{
	margin-left: 0.5em;
}
.main-wrapper{
	position: relative;
	top: 0.5em;
}
.title, .team-member-name{
	display: inline-block;
	background-color: black;
	padding: 0.5em;
	text-shadow:cadetblue 1px 1px;
	color: white;
}
.product-info, .team-info{
	border: dashed 2px dimgrey;
	padding: 0.5em;
	margin: 0.5em;
	margin-left: 0;
}
.team img{
	max-width: 250px;
	min-width: auto;
	min-height: 100%;
	padding: 0.2em;
	border: 0;
}
.team-member-name{
	padding: 0.3em;
}
.team-member-description{
	padding: 0.2em;
}